
.header_container {
    width: 100%;
    height: 100px;
}

.navlinks {
    display: -webkit-inline-box;
    width: 50%;
    float: right;
}

.navlinks > li {
    font-family: atrament-web, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.navlinks > li > a {
    color: white;
}

.navlinks > li:hover {
    color: gray;
    cursor: pointer;
}

.navlinks_container {
    height: 60px;
    width: 100%;
    top: 40px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 20px;
    background-color: rgb(46,47,49);
    position: absolute;
}

.small_width {
    width: 13.33%;
}

.small_width_2 {
    width: 17.33%;
}

.md_width {
    width: 30%;
}

.md_width_2 {
    width: 26%;
}

.seewrap_phonenumber {
    width: 300px;
    min-width: 145px;
    height: 40px;
    position: absolute;
    right: 0px;
    background: red;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.phone_icon_container {
    font-size: 16px;
    z-index: 10;
}

.phone_icon {
    font-size: 50px;
    color: black;
}

.social_icon_fa {
    height: 20px;
    width: 24px;
    background-image: url('/style/img/facebook (2).png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
    margin-right: 2px;
}

.social_icon_in {
    height: 22px;
    width: 24px;
    margin-right: 2px;
    background-image: url('/style/img/instagram.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
}

.social_icon_yt {
    height: 24px;
    width: 24px;
    background-image: url('/style/img/youtube-play.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: right;
}

.phone_container > p {
    font-family: skolar-sans-latin, sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: black;
}

.btn_holder_home {
    position: absolute;
    left: 30%;
    top: 50px;
    z-index: 10;
}