
.seewrap_logo {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 120px;
    width: 130px;
    padding: 10px;
    padding-top: 15px;
    background: rgb(1,168,158); /* fallback color */
    z-index: 10;
}

.logoconfig {
    color: white;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 800;
}

.see_logo {
    font-size: 35px;
    letter-spacing: 2px;
}

.wrap_logo {
    font-size: 32px;
}
